# Ignore common image files inside assets/
assets/**/*.png
assets/**/*.jpg
assets/**/*.jpeg
assets/**/*.gif
assets/**/*.avif
assets/**/*.webp
assets/**/*.svg
assets/**/*.ico

# macOS
.DS_Store

# Node
node_modules/